a{
    text-decoration: none;
}

#img{
    position: absolute;
    width: 22%; 
    height: auto;
    z-index: 100;
    /* border: 1px solid white; */
    border-radius: 5px;
    text-align: right;
}

 /*#piao-pic{
    cursor:pointer;        手型指针
}*/

#intertext{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    width: 100%;
    height: 160px;
    text-align: center;
    /* border: 1px solid red; */
    border-radius: 5px;
    background-color: rgba(211, 109, 206, 0.95);

}

#intertext-1{
    font-size: 20pt;
    color: white;
}

#intertext-2{
    font-size: 12pt;
    color: white;
}

#intertext-3{
    font-size: 12pt;
    line-height: 50px;
    color: white;
}